django==5.0.9
psycopg
crispy-bootstrap5
django-browser-reload
django-crispy-forms
django-allauth
django-filter
django-upgrade
pillow
django-embed-video
whitenoise
boto3
django-storages[s3]
gunicorn
dj-database-url
sentry-sdk
python-dotenv
