{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}Questions{% endblock title %}

{% block content %}
  <div class="d-flex flex-column flex-gap align-items-start">
    <h1 class="mr-3">Questions</h1>
    <button class="btn btn-secondary btn-sm ml-4 mb-4" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
      Filter questions
    </button>
  </div>
  <div class="filter-form bg-light mb-5 p-4 collapse multi-collapse" id="multiCollapseExample2">
    <form action="" method="get">
      {{ filter.form|crispy }}
      <input class="btn btn-info" type="submit" />
      <a class="btn btn-light" href="{% url 'question_filtered_list' %}">Clear</a>
    </form>
  </div>

  <div class="question-list">
    <h2>Results</h2>
  {% for question in filter.qs %}
    <h3>
      <a class="{% if question.date_published %}text-primary{% else %}text-secondary{% endif %}" href="{% url 'question_detail' question.pk %}">
        {{ question.question_text }}
      </a>
    </h3>
  {% endfor %}
  
  {% if user.is_anonymous %}
    <div class="position-relative" style="margin-top: -80px; min-height: 80px;">
      <div class="position-absolute w-100 h-100 p-4 teaser"></div>
      <div class="position-absolute" style="top: 70px;">
        <a class="btn btn-lg btn-success font-weight-bold" href="https://lancegoyke.com/mastermind-bp">
          Sign up to see all {{ num_questions }} questions
        </a>
      </div>
    </div>
  {% endif %}
    
</div><!-- .question-list -->
{% endblock content %}
