{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Program Library{% endblock title %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    {% include "header.html" %}

    <main class="container-lg my-5">
      {% include '_messages.html' %}

      {% block content %}
      Content here.
      {% endblock content %}
    </main>

    <!-- JavaScript -->
    {% block javascript %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Custom -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-5.3.3.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script> 
    {% endblock javascript %}
  </body>
</html>
