{% extends "_base.html" %}

{% load account %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <h2>
    Welcome!<br />
    <small class="text-muted">{{ user.email }}</small>
  </h2>
  <div class="row">
    <div class="col-sm-12 col-md mb-2">
      <a class="btn btn-warning btn-block" href="{% url 'question_filtered_list' %}">View Questions</a>
    </div>
    <div class="col-sm-12 col-md mb-2">
      <a class="btn btn-primary btn-block" href="{% url 'submission_create' %}">Submit Questions</a>
    </div>
    <div class="col-sm-12 col-md">
      <a class="btn btn-light btn-block" href="{% url 'account_logout' %}">Log Out</a>
    </div>
  </div>
{% else %}
  <h2>Welcome!</h2>
  <div class="row">
    <div class="col-sm-12 col-md mb-2">
      <a class="btn btn-primary btn-block" href="{% url 'account_login' %}">Log In</a>
    </div>
    <div class="col-sm-12 col-md">
      <a class="btn btn-success btn-block" href="{% url 'account_signup' %}">Sign Up</a>
    </div>
  </div>
{% endif %}
{% endblock content %}
