{% extends "_base.html" %}

{% load account %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h2>Welcome!</h2>
  {% if user.is_authenticated %}
  <p>hi {{ user.email }}</p>
  <a class="btn btn-warning" href="{% url 'question_filtered_list' %}">View Questions</a>
  <a class="btn btn-primary ml-2" href="{% url 'submission_create' %}">Submit Questions</a>
  <a class="btn btn-light ml-2" href="{% url 'account_logout' %}">Log Out</a>
  {% else %}
  <a class="btn btn-primary" href="{% url 'account_login' %}">Log In</a>
  <a class="btn btn-success mx-2" href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %}
{% endblock content %}
